<f:layout name="Default" />

<f:section name="Title">A list of comments</f:section>

<f:section name="MainContent">

	<!--
    <f:if condition="{comments}">
        <f:then>
            <ul>
                <f:for each="{comments}" as="comment">
                    <li>
                        <f:link.action action="show" arguments="{comment: comment}">{comment.name}</f:link.action>
                        <f:link.action action="edit" arguments="{comment: comment}">Edit</f:link.action>
                        <f:form action="delete" arguments="{comment: comment}">
                            <f:form.submit value="Delete" />
                        </f:form>
                    </li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <p>No comments created yet.</p>
        </f:else>
    </f:if>
    <p><f:link.action action="new">Create a new comment</f:link.action></p>

    -->
</f:section>
